# flyctl launch added from .pytest_cache/.gitignore
# Created by pytest automatically.
.venv
.git
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
scratch/
local-capture/
.envrc.*
.envrc
.env
.pytest_cache/**/*
fly.toml
.vscode/
.dagster/
