{
    email {$ACME_EMAIL}
}

(hardening) {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        -Server
    }
}

premierlytics.com, www.premierlytics.com {
    import hardening

    root * /srv/docs

    encode gzip zstd

    try_files {path} {path}/ /index.html

    file_server
}

{$API_DOMAIN} {
    import hardening

    encode gzip zstd

    reverse_proxy api:8000
}

{$DAGSTER_DOMAIN} {
    import hardening
    encode gzip zstd
    import dagster-auth.caddy
    reverse_proxy dagster-web:3000
}

{$DOZZLE_DOMAIN} {
    import hardening
    import dozzle-auth.caddy
    reverse_proxy dozzle:8080 {
        flush_interval -1
    }
}
